*{
    box-sizing: border-box;
    clear: both;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  h1, h2{
    text-align: center;
  }


  ul{
    width: 70px;
    height: 70px;
    border: 1px solid black;
    margin: 0px 50%;
    list-style: none;
    padding: 0;
  }

  li{
    text-align: center;
    width: 70px;
    height: 70px;
    border: 1px solid black;
  }

  .list {
      display: grid;
      grid-template-columns: auto auto;
  }
  